<div class="header-menu">
  <button mat-button>Strona główna</button>
  <button mat-button [matMenuTriggerFor]="furnacesMenu" *ngIf="loggingService.loggingModel.isLogged && loggingService.checkIfPermissionIsInList('Piece')">Piece</button>
  <mat-menu #furnacesMenu="matMenu">
    <button mat-menu-item [routerLink]="['furnace-table']">Piece</button>
    <button mat-menu-item [routerLink]="['furnace-kind-table']">Rodzaje piecy</button>
    <button mat-menu-item [routerLink]="['furnace-type-table']">Typy piecy</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="sampleMenu" *ngIf="loggingService.loggingModel.isLogged  && loggingService.checkIfPermissionIsInList('Analiza chemiczna')">Analiza chemiczna</button>
  <mat-menu #sampleMenu="matMenu">
    <button mat-menu-item [routerLink]="['sample-table']">Tabela analiz chemicznych</button>
    <button mat-menu-item [routerLink]="['chemical-element']">Pierwiastki chemiczne</button>
    <button mat-menu-item [routerLink]="['chemical-compound']">Związki chemiczne</button>
    <button mat-menu-item [routerLink]="['material']">Surowce</button>
    <button mat-menu-item [routerLink]="['material-group']">Grupy surowców</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="carWeightMenu" *ngIf="loggingService.loggingModel.isLogged && loggingService.checkIfPermissionIsInList('Waga samochodowa')">Waga samochodowa</button>
  <mat-menu #carWeightMenu="matMenu">
    <button mat-menu-item [routerLink]="['car-weight-position-list']">Tabela rekordów wagi samochodowej</button>    
    <button mat-menu-item [routerLink]="['car-weight-list']">Wagi samochodowe</button>    
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="administrationMenu" *ngIf="loggingService.loggingModel.isLogged && loggingService.checkIfPermissionIsInList('Administracja')">Administracja</button>
  <mat-menu #administrationMenu="matMenu">
    <button mat-menu-item [routerLink]="['user-list']">Użytkownicy</button>    
    <button mat-menu-item [routerLink]="['role-list']">Role</button>    
    <button mat-menu-item [routerLink]="['department-list']">Działy</button>    
    <button mat-menu-item [routerLink]="['permission-list']">Uprawnienia</button>    
  </mat-menu>
  <label *ngIf="loggingService.loggingModel.isLogged">Zalogowany użytkownik: {{loggingService.loggingModel.userFullName}}</label>
  <button mat-button (click)="logout()" *ngIf="loggingService.loggingModel.isLogged">Wyloguj</button>
</div>

<router-outlet></router-outlet>
