<div class="parent">
    <div layout="row">
        <mat-form-field>
            <mat-label>Nazwa</mat-label>
            <input matInput [(ngModel)]="material.name" required="true">
        </mat-form-field>    
    </div>
    <div layout="row">
        <mat-form-field>
            <mat-label>Wybierz grupę surowca:</mat-label>
            <mat-select  multiple="false" [(ngModel)]="material.materialGroupId" required="true" panelWidth="250" style="width: 250px;">
                <mat-option *ngFor="let materialGroup of materialGroups" [value]="materialGroup.materialGroupId">{{materialGroup.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions align="center" style="width: 100%;">
        <button mat-raised-button type="button" align="start" class="Save-btn" (click)="saveMaterial()">Zapisz</button>
            <span class="flex-spacer"></span>
        <button mat-raised-button type="button" align="end" class="Discard-btn" (click)="cancel()">Anuluj</button>    
    </div>    
</div>

